:root {
  --color-primary: #537979;
  --color-primary-light: #ACBEBE;
  --color-secondary: #4F4947;
  --color-accent: rgb(235, 233, 229, 0.5);
  --color-neutral-grey: #EBE9E5;

  --font-primary: "bufalino", sans-serif;
  --font-secondary: "condor-compressed", sans-serif;
  --font-accent: "Capitol", sans-serif;
}

html {
  font-family: var(--font-primary);
  font-weight: 500;
}

h1 {
  font-family: var(--font-secondary);
  font-size: 5rem;
  line-height: 5rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 200;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 3.5rem;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 200;
}

h4 {
  font-family: var(--font-secondary);
  font-size: 3.5rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 200;
  line-height: 3rem;
}

h5 {
  font-family: var(--font-secondary);
  font-size: 3rem;
  color: #707070;
  text-transform: uppercase;
  font-weight: 200;
}

h6 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-secondary);
}

a {
  font-family: var(--font-accent);
  color: var(--color-secondary);
}

dl, ol, ul {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 1.2rem;
}

ul {
  font-size: 1.4rem;
  text-transform: uppercase;
}

ul li:first-child {
  font-weight: 700;
}

dt {
  font-size: 1rem;
  font-weight: 500;
}

blockquote {
  font-family: var(--font-secondary);
  font-size: 2rem;
}

cite {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 1rem;
}

q {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
}

p {
  font-family: var(--font-primary);
  font-weight: 500;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
  font-weight: 700;
}

abbr {
  text-transform: uppercase;
}

dfn {
  font-style: italic;
  font-weight: bold;
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
  color: #ACBEBE;
}

mark {
  background-color: #D6D7D6;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}
