footer {
  border-top: 2px solid var(--color-primary);
}

.facebook-icon:hover, .twitter-icon:hover, .instagram-icon:hover {
  transform: scale(1.5) rotate(360deg);
}
.facebook-icon, .twitter-icon, .instagram-icon {
  transition: all 600ms linear;
}

.footer-link:hover {
  border-bottom: 1px solid var(--color-primary);
}
