.btn {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);
  font-family: var(--font-tertriary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
