.btn {
  background-color: var(--color-primary);
  color: var(--color-neutral-grey);
  border-radius: 0;
  font-family: var(--font-accent);
  border-color: var(--color-accent);
  font-size: 1.3rem;
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  transition: all .2s linear;
}

.btn-border {
  border: solid 2px var(--color-primary);
  display: inline-block;
}

.btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  color: var(--color-secondary);
}

.btn-border:hover {
  border-color: var(--color-accent);
}

.btn-ghost {
  background-color: var(--color-secondary);
  color: var(--color-neutral-grey);
}

.btn-border-ghost {
  border: solid 2px var(--color-secondary);
  display: inline-block;
}

.btn-border-ghost:hover {
  border-color: var(--color-accent);
}

.btn-ghost:hover {
  background-color: var(--color-primary-light);
}

.btn-light {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);
  padding-top: 10px;
}

.btn-border-light {
  border: solid 2px var(--color-primary-light);
  display: inline-block;
}

.btn-light:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary-light);
  border-color: var(--color-secondary);
}

.btn-border-light:hover {
  border-color: var(--color-accent);
}

.arrow-icon {
  margin-bottom: 5px;
}

.icon-label {
  font-family: var(--font-accent);
}
