header {
  border-bottom: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
  margin-top: 12em;
}

.header-link {
  font-weight: 200;
  display: none;
}

.icon-label {
  font-family: var(--font-secondary);
}

.logo-link {
  top: -14.5em;
}

.header-icon {
  transition: all .1s linear;
}

.header-icon:hover {
  transform: scale(1.1);
}

.link {
  transition: all .1s linear;
}

.link:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.current {
  text-decoration: underline;
}

@media only screen and (min-width: 25em) {

  .icon-label {
  }

}

@media only screen and (min-width: 38em) {

  header {
    margin-top: 4em;
  }

  .list-nav {
    display: inline;
  }

  .right-label {
    text-align: right;
  }

  .left-label {
    text-align: left;
  }

  .music-icon {
    text-align: right;
  }

  .logo-link {
    top: -2em;
  }

}

@media only screen and (min-width: 60em) {

  .header-icon {
    display: none;
  }

  .header-link {
    display: inline;
  }

  .logo-link {
    top: -5.5em;
  }

}

@media only screen and (min-width: 90em) {

  .logo-link {
    top: -5em;
  }

}
