header {
  border-bottom: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
  margin-top: 4em;
}

.header-link {
  font-weight: 200;
  display: none;
}

.header-nav {
}

.list-nav {
}

.logo-link {
  top: -4em;
}

@media only screen and (min-width: 38em) {

  .list-nav {
    display: inline;
  }

  .icon-label {
    text-align: left;
  }

  .music-icon {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .header-icon {
    display: none;
  }

  .header-link {
    display: inline;
  }

  .logo-link {
    top: -5.5em;
  }

}

@media only screen and (min-width: 90em) {

  .logo-link {
    top: -5em;
  }

}
