section {
  margin-top: 2em;
}

#quantity {
  background-color: var(--color-secondary);
  color: var(--color-neutral-grey);
}

.total-price {
  border-top: solid 1px var(--color-primary);
  display: inline-block;
}

.promo-banner {
  background-color: var(--color-primary);
  border-top: solid 5px var(--color-secondary);
  border-bottom: solid 5px var(--color-secondary);
}

.promo-text {
  color: var(--color-neutral-grey);
  border-top: solid 5px var(--color-primary-light);
  border-bottom: solid 5px var(--color-primary-light);
}

.title-row {
  background-color: var(--color-primary);
  border-top: solid 5px var(--color-primary-light);
  border-bottom: solid 5px var(--color-primary-light);
}

.table-title {
  color: var(--color-neutral-grey);
}

tr {
  border-bottom: solid 3px var(--color-primary);
}

tr:nth-child(even) {
  background-color: var(--color-primary-light);
}

td {
  color: var(--color-secondary);
}

fieldset {
  display: none;
}
