input, .form-field, .area-item {
  background-color: #d6d7d6;
  border: none;
  height: 3.2em;
}

.search-label {
  display: none;
}

.quantity {
  background-color: var(--color-secondary);
  color: var(--color-neutral-grey);
  height: 2em;
  width: 5em;
}

label {
  color: var(--color-secondary);
}

.form-item {
  height: 2em;
}

.exp-date {
  width: 5em;
}

.error-message {
  background-color: var(--color-primary);
  border: solid .5px #FCD997;
  width: 20em;
}

.error-label {
  color: #FCD997;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: #FCD997;
}

.error-message {
  display: none;
  background-color: var(--color-primary);
  color: #FCD997;
  border: solid .5px #FCD997;
  width: 20em;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
