/* ad cards */

.card {
  width: 30em;
  position: relative;
}

.card-img-content {
  width: 15em;
  position: absolute;
  left: 0;
  top: 40%;
  text-align: center;
}

/* square cards */

.square-card-content {
  position: absolute;
  bottom: 5%;
  left: 20%;
}

.square-card {
  position: relative;
  width: 15em;
}

/* product cards */

.product-card {
  width: 10em;
}

/* similar product cards */

.similar-card {
  position: relative;
  width: 10em;
}

.similar-card-content {
  position: absolute;
  bottom: 5%;
  left: 18%;
}
