/* ad cards */

.card {
  width: 30em;
  background: linear-gradient(to right, rgba(181, 163, 130, .7), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 100%;
}

.card-img {
  z-index: -1;
}

.card-img-content {
  width: 10em;
  text-align: center;
  left: 5%;
}

/* square cards */

.square-card-content {
  bottom: 5%;
}

.hover-img {
  transition: all .2s linear;
}

.hover-img:hover {
  filter: sepia(50%);
  transform: scale(1.1);
}

/* product cards */

.product-card {
  width: 10em;
}

/* similar product cards */

.similar-card-content {
  bottom: 5%;
}
