a {
  font-family: var(--font-primary);
  font-weight: 500;
}

.section-link:hover, .footer-link:hover {
  border-bottom: 1px solid var(--color-primary);
}

footer {
  border-top: 2px solid var(--color-primary);
}

.facebook-icon:hover, .twitter-icon:hover, .instagram-icon:hover {
  transform: scale(1.5) rotate(360deg);
}
.facebook-icon, .twitter-icon, .instagram-icon {
  transition: all 600ms linear;
}

.page-number-link:hover {
  border-bottom: 1px solid var(--color-primary);
}

.left-arrow, .right-arrow {
  transition: all 600ms linear;
}

.left-arrow:hover, .right-arrow:hover {
  transform: scale(1.5) rotate(360deg);
}

.category-nav {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .category-nav {
    text-align: left;
  }

}
