/* home page banner */

.home-banner {
  background: linear-gradient(to right, rgba(181, 163, 130, .7), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 100%, url("../images/home-banner.jpg") no-repeat center top / cover;
  height: 30em;
}

.home-banner-content {
  left: 3%;
}

.home-banner-type {
  width: 5em;
}

/* product page banner */
